* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--accent-color-hue: 177;
	--accent-color-saturation: 100%;
	--disabled-color: #a6fdfa;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100vh;
	/* background-color: #282c34; */
	background-color: rgb(57, 77, 97);
	/* color: white; */
	color: #78f976;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
